<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="buscarAlbumes()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let album of resultados">
      <ion-thumbnail slot="start">
        <ion-img [src]="album.enlace_miniatura" alt="Miniatura del álbum"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{ album.nombre }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

