<!-- home.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      ExploraMusic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" size-xl="3" *ngFor="let album of dataService.albumsData">
        <ion-item (click)="onAlbumClick(album)">
          <!-- Contenedor de la miniatura con el nombre -->
          <ion-thumbnail slot="start">
            <ion-img [src]="album.enlace_miniatura" alt="Miniatura del álbum"></ion-img>
            <ion-label>
              {{ album.nombre }}
            </ion-label>
          </ion-thumbnail>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
